// showing default values

$accentColor = #c62828
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.home .hero .action-button {
   background: $accentColor 
   border-bottom: 1px solid #c62816;
}

.nav-item > a:not(.external).router-link-active {
   border-bottom: 2px solid $accentColor 
}

a {
   color: $accentColor
}

a.sidebar-link.active {
   color: $accentColor
   border-left-color: $accentColor
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid $accentColor
}

.home .hero .action-button:hover {
   background-color:#c62828
}

a.sidebar-link:hover {
   color: $accentColor
}

.search-box input:focus {
   border-color: $accentColor    
}
   